<%= link_to "Sign in with Google", "/auth/google_oauth2" %>

<%= render 'shared/errors' %>

<h1>New Event Search</h1>

<%= form_tag events_path, method: :get do %>
  <%= text_field_tag "location", nil, class: "form-control", id: "event_location", placeholder: "location", required: true %>

  <% cache do %>
  <% Language.all.each do |language| %>
    <%= check_box_tag 'language_selected[]', language.title, false, class: "iCheck-helper" %>
    <%= language.title %>
  <% end %>
  <% end %>

  <br><br>

  <%= submit_tag "New Event Search", class: "form_submit btn btn-primary btn-lg" %>
<% end %>

<h1>New Job Search</h1>

<%= form_tag jobs_path, method: :get do %>
  <%= text_field_tag "location", nil, class: "form-control", id: "job_location", placeholder: "location", required: true %>
  
  <% cache do %>
  <% Language.all.each do |language| %>
    <%= check_box_tag 'language_selected[]', language.id, false, class: "iCheck-helper" %>
    <%= language.title %>
  <% end %>
  <% end %>

  <br><br>

  <%= submit_tag "New Job Search", class: "form_submit btn btn-primary btn-lg" %>
<% end %>

<section class="page-block" id="features">

  <%= render 'layouts/tabs' %>

</section>
