<h1>Showing events for <% @current_user.languages.each do |language| %>
                       <%= language["title"] %>
                     <% end %></h1>

<div class="row">
  <div class="col-lg-8 col-md-10">
    <div class="panel-group" id="accordion">
      <% num = 1 %>
      <% @events.each do |event| %>
 
        <div class="panel">
          <a class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= num %>" aria-expanded="false">
            Event Name: <%= event["name"] %>
            <div class="indicator">
              <div class="icon">
                <span class="hr-line"></span>
                <span class="vr-line"></span>
              </div>
            </div>
          </a>
          <div id="collapse<%= num %>" class="panel-collapse collapse" aria-expanded="false">
            <div class="panel-body">
              <h3>Event Name: </h3><p><%= event["name"] %></p>
              <h3>Location: </h3><p><%= event["city"] %></p>
              <h3>Description: </h3><p><%= event["description"].html_safe %></p>
              <h3>How to attend:</h3><p><a href="<%= event["link"] %>"> Attend This Meetup</a></p>
            </div>
          </div>
        </div>
        <% num += 1 %>
      <% end %>
    </div>
  </div>
</div>
