<%= render 'sessions/nav_login' %>

<!--Header-->
<header class="stiky-header">
  <div class="container group">
    <% if @current_user %>
      <a class="logo" href="<%= user_path(@current_user) %>" data-method="get"><%= image_tag "TechMe-logo3.png", style: "height: 60px;", alt:"TechMe" %></a>
      <a class="logo-mobile" href="<%= user_path(@current_user) %>" data-method="get"><%= image_tag "TechMe-logo3.png", alt:"TechMe" %></a>
    <% else %>
      <a class="logo" href="<%= root_path %>" data-method="get"><%= image_tag "TechMe-logo3.png", style: "height: 60px;", alt:"TechMe" %></a>
      <a class="logo-mobile" href="<%= root_path %>" data-method="get"><%= image_tag "TechMe-logo3.png", alt:"TechMe" %></a>
    <% end %>
    <div class="navi-toggle group">
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
      <span class="dot"></span><span class="line"></span>
    </div>

    <% if @current_user %>
      <a class="btn btn-primary btn-login" href="<%= logout_path %>" data-method="delete"><i class="icon-user"></i>Logout</a>
    <% else %>
      <a class="btn btn-primary btn-login" href="#" data-toggle="modal" data-target="#loginModal"><i class="icon-user"></i>Login</a>
      <a href="<%= new_registration_path %>" class="btn btn-success btn-login" data-method="get"><i class="icon-user"></i>Sign Up</a>
    <% end %>
    <nav class="main-navi">
      <ul>
        <% if @current_user %>
          <li class="active"><a class="scroll-up" href="<%= user_path(@current_user) %>" data-method="get">Home</a></li>
          <li class="has-dropdown"><a href="<%= user_path(@current_user) %>" data-method="get">Features<i class="fa fa-caret-down"></i></a>
            <ul class="dropdown">
              <li><a class="scroll" href="<%= user_path(@current_user) %>#calendar">Calendar</a></li>
              <li><a class="scroll" href="<%= user_path(@current_user) %>#events">Events</a></li>
              <li><a class="scroll" href="<%= user_path(@current_user) %>#jobs">Jobs</a></li>
            </ul>
        <% else %>
          <li class="active"><a class="scroll-up" href="<%= root_path %>" data-method="get">Home</a></li>
          <li class="has-dropdown"><a href="<%= root_path %>" data-method="get">Features<i class="fa fa-caret-down"></i></a>
            <ul class="dropdown">
              <li><a class="scroll" href="<%= root_path %>#calendar">Calendar</a></li>
              <li><a class="scroll" href="<%= root_path %>#events">Events</a></li>
              <li><a class="scroll" href="<%= root_path %>#jobs">Jobs</a></li>
            </ul>
        <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>
